<div class="new-form">
  <h1>Register</h1>

    <%= form_for @user do |f| %>
      <%= f.label :name %>
      <br>
      <div class="textfield">
        <%= f.text_field :name %>
      </div>
      <br>
      <%= f.label :email %>
      <br>
      <div class="textfield">
        <%= f.text_field :email%>
      </div>  
      <br>
      <br>
      <%= f.submit 'Register', class: "btn btn-success btn-lg" %>
    <% end %>
</div>
